@import "variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";

.logo {
    width: 50px;
    margin-right: 10px;
}

body #app .responsive {
    overflow-x: auto;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.navbar-brand {
    margin-right: 20px;
}


.date-square {
    display: inline-block;
    text-align: center;
    border: 1px solid $gray-400;
    width: 50px;
    text-transform: uppercase;
    margin-right: .5rem;
    .month {
        color: $red;
    }
}

.times {
    margin-bottom: 1rem;
}

.map {
    margin-top: .5rem;
    max-width: 350px;
}

.btn-toggle-map {
    margin-top: .5rem;
}

h1 {
    small + small {
        &:before {
            content: '&';
        }
    }
}

.form-row {
    margin-bottom: 6px;
}

.fa-ul {
    margin-left: 1.6em !important;
    .fa-times {
        color: red;
    }
    .fa-check {
        color: green;
    }
}

.progress {
    margin: 20px 0;
}

.custom-select {
    appearance: unset;
    background: none;
}

.add-comma-after {
    &:after {
        content: ', ';
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
}
.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}

.table-signed-up-users {
    td {
        vertical-align: middle !important;
    }
    .avatar {
        padding: 0 !important;
        width: 45px;
        height: 60px;
        img {
            width: 45px;
            height: 60px;
        }
    }
}
