@import "variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";


h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}


.date-square {
    display: inline-block;
    text-align: center;
    border: 1px solid $gray-400;
    width: 50px;
    text-transform: uppercase;
    margin-right: .5rem;
    .month {
        color: $red;
    }
}

.times {
    margin-bottom: 1rem;
}

.map {
    margin-top: .5rem;
}

.btn-toggle-map {
    margin-top: .5rem;
}

h1 {
    small + small {
        &:before {
            content: '&';
        }
    }
}

.fa-ul {
    margin-left: 1.6em;
    .fa-times {
        color: red;
    }
    .fa-check {
        color: green;
    }
}


.sign-up-heading {
    margin: 25px 0 10px 0;
}

.progress {
    margin: 20px 0;
}

.spots-left {
    line-height: 46px;
}
