@import "variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
    padding-bottom: 100px;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

body #app .responsive {
    overflow-x: auto;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.btn-block-xs {
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.navbar-brand {
    margin-right: 20px;
}

.signed-up-text {
    color: green;
}

.date-square {
    display: inline-block;
    text-align: center;
    border: 1px solid $gray-400;
    width: 50px;
    text-transform: uppercase;
    margin-right: .5rem;
    position: relative;
    top: 4px;
    .month {
        color: $red;
    }
}

.times {
    margin-bottom: 1rem;
}

.map {
    margin-top: .5rem;
    max-width: 350px;
}

.btn-toggle-map {
    margin-top: .5rem;
}

h1 {
    small + small {
        &:before {
            content: '&';
        }
    }
}

.form-row {
    margin-bottom: 6px;
}

.fa-ul {
    margin-left: 1.6em !important;
    .fa-times {
        color: red;
    }
    .fa-check {
        color: green;
    }
}

.progress {
    margin: 20px 0;
}

.custom-select {
    appearance: unset;
    background: none;
}

select {
    padding: 6px !important;
}

.add-comma-after {
    &:after {
        content: ', ';
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
}
.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}

.table-signed-up-users {
    td {
        vertical-align: middle !important;
    }
    .avatar {
        padding: 0 !important;
        width: 45px;
        height: 60px;
        img {
            width: 45px;
            height: 60px;
        }
    }
    .fa-check {
        color: green;
    }
    .fa-facebook {
        color: #4267b2;
    }
    .fa-times {
        color: red;
    }
}

.jumbotron {
    border: 1px solid $gray-400;
    padding: 1rem;
}

.jumbotron-heading {
    background: #ddd;
    padding: 15px;
    margin: -16px -16px 0 -16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;
}

.button-group {
    @include media-breakpoint-down(sm) {
        width: 100%;
        a,
        button {
            width: 100%;
            margin-top: 10px;
        }
    }
}

.modal-dialog {
    white-space: normal !important;
}

table {
    &.no-head {
        thead {
            display: none;
        }
    }
    &.vgt-table {
        td {
            vertical-align: middle;
            &:first-child {
                padding: 0; 
                width: 60px !important;   
            }
            select {
                min-width: 150px;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 557px) {
    .form-row {
        .col-sm-3 {
            label {
                margin-top: 6px;
            }
        }
    }
}

tr {
    &.clickable {
        cursor: pointer;
    }
}

.event-description {
    table {
        @extend .table;
        @extend .table-bordered;
    }
}

.event-table-name-link {
    color: inherit;
}
.group-icon {
    width: 85px;
    .fa {
        font-size: 25px;
        visibility: hidden;
        &.visible {
            visibility: visible;
        }
    }
}
