$theme-colors: (
    primary: #4661ab,
    secondary: #000,
    success: green,
    info: yellow,
    warning: yellow,
    danger: red,
    light: #fff,
    dark: #000
);

$h1-font-size: 1.5rem;
$h2-font-size: 1.4rem;
$h3-font-size: 1rem;
$h4-font-size: 1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

$navbar-light-active-color: #fff;
$navbar-light-color: rgba(255, 255, 255, 0.81);
